*{
    border: none;
    padding: 0;
    margin: 0;
}
header{
    background-color: #11b8aa;
}
.content{
    /*padding-top: 100px;*/
    background-color: #eee; 
    height: 90vh; 
    background-image: url(./vetor.svg);
    background-repeat: no-repeat; 
    background-position-y: -25px; 
    background-position-x: 500px; 
    background-attachment: fixed;  

}
.content-box{
    margin-left: 50px;
    height: 50vh;
    width: 100%;
    margin-top: 40px;
    /*background-image: url(./image.jpg);
    background-position: center;*/
    color: rgb(0, 0, 0);
    padding: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); 
    
}
.content-box:hover{
    height: 100%;
    width: 100%;
    transition: ease-in-out;
    transition-delay: 100ms;
    
}
.content-row{
    margin-left: 5px;/*100px;*/
    height: 60vh;
    width: 40%;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); */
    
}
.img1 {
    background-image: url(./img3.jpg);
    background-size: cover; 
}

.img2 {
    background-image: url(./img2.jpg);
    background-size: cover;
}
.img3 {
    background-image: url(./img.jpg);
    background-size: cover;
}
