a, ul{
    text-decoration: none;
    list-style: none;
}
*{
    border: none;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
}

header nav {
    margin-top: 20px;
    text-align: center;
}
header nav ul li{
    display: inline-block;
    margin-right: 40px;
}
header nav ul li a{
    color: #000;
}
header nav ul li a:hover{
    opacity: 0.6;
}
.conteiner{
    padding: 0 150px;
}
section{
    height: 90vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center
}
.content{
    height: 50vh;
    width: 30%;
    padding: 5px 10px;
    background-color: #ccc;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); 
}
.content .content-box{
    height: 200px;
    width: 95%;
    margin-top: 40px;
    background-color: #eee;
    color: rgb(0, 0, 0);
    padding: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); 
}
.content-box .form input{
    width: 97%;
    height: 20px;
    padding: 5px;
    margin: 2px 0 10px 0;
}
.content-box button{
    height: 30px;
    width: 60px;
    background-color: #912;
    color: #fff;
     cursor: pointer;
}
.content-box button:hover{
    opacity: 0.8;
}
.content-box p{
    margin-top: 10px;
    font-size: 10px;
}
footer{
    width: 100%;
}
footer .link{
    margin: 20px 0;
}
footer .link nav{
    margin: 10px;
}
footer .link nav ul li{
    margin: 10px;
}
footer .link nav ul li a{
    color: #000;
}
footer .link nav ul li a:hover{
    opacity: 0.6;
}


footer .link2{
    margin: -125px 0 0 960px ;
}
footer .link2 h3{
    text-align: left;
}
footer .link2 nav{
    margin: 10px;
}
footer .link2 nav ul li{
    margin: 10px;
    text-align: right;
}
footer .link2 nav ul li a{
    color: #000;
}
footer .link2 nav ul li a:hover{
    opacity: 0.6;
}

footer .direito{
    margin-top: 10px;
}
footer .direito .border{
    border: 1px solid #ccc;
   
}
footer .direito p{
    margin: 10px 0;
    text-align: center;
}


